@model string
<div class="modal fade" id="proPicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="d-inline-block align-top rounded-circle" style="max-height:100%; max-width:100%; text-align:center" src="@Model" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>
