@{ }
<div class="container">
    <form asp-controller="Home" asp-action="Profile" method="post">
        <textarea class="form-control mb-1" name="Post" value="" placeholder="Scrivi il tuo post" rows="3"></textarea>
        <input type="submit" name="submit" value="Pubblica" class="btn btn-primary cursor-pointer" />
    </form>
</div>
